
/*
.supplier_background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/background3.webp');
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}

.container {
  margin: 20px;
  
}



table {
  position: relative;
  width: calc(100% - 250px); 
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 230px;
  margin-top: 80px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: rgba(242, 242, 242, 0.637); 
  font-size: 20px; 
}

td {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f9f9f977; 
}

button, .btn1{
  background-color: #2196f3;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  vertical-align: middle;
  margin-right: 5px;
  font-weight: bold; 
}

#srchinput{
  position: absolute;
  left: 60%;
  width:20%;
  right: 10%;
  margin-top: 30px;
}

.srchbtn{
  position: relative;
  margin-left: 1100px;
  height: 37px;
  margin-top: 30px;
}

button:hover, .btn1:hover {
  background-color: #0bea1e;
  text-decoration: underline;
}


a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



.reportbtn {
  position: absolute;
  margin-left: 1200px;
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



*/