



#cnt{
    position: absolute;
    left:50%;
    top:15%;
    font-size: large;
    border:2px solid black;
    padding: 20px;
    border-radius: 5px;
}








#supplierdashtable{
    position: absolute;
    top:20%;
    left:2%;
    right:4%;
    width: 80%;;
    background-color: rgb(189, 221, 249);
}