

.update-container-form {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.73);
  margin-top: 50px;
  backdrop-filter: blur(8px); 
}

.update-container-form h2 {
  text-align: center;
  color: #007bff;
  font-size: 24px;
  margin-bottom: 20px;
}

.update-form-label {
  font-weight: bold;
  color: #007bff;
  font-size: 20px;
  margin-bottom: 15px;
}

.update-form-control {
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 16px;
  padding: 5px;
}

.update-form-select {
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 16px;
  padding: 5px;
}

.update-btn-primary {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn-primary:hover {
  background-color: #0056b3;
}
