/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Container Styles */
  div {
    margin: 20px;
  }
  
  /* Table Styles */
  table {
  position: absolute;
  top:27%;
  left:1%;
  left: 2%;

  
    border-collapse: collapse;
  width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #2c3e50;
    color: white;
  }
  
  tbody tr:hover {
    background-color: #ecf0f1;
  }
  
  td a, td button {
    text-decoration: none;
    padding: 8px 12px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  td a {
    background-color: #3498db;
    color: white;
  }
  
  td button {
    background-color: #e74c3c;
    color: white;
  }
  
  td a:hover, td button:hover {
    background-color: #2980b9;
  }

  .search-container {
    display: flex;
    align-items: center;

  }
  .searchbtn{
    margin-left: 80%;
    
  }
  .in {

    width: 150px; /* Adjust the width as needed */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  #search-btn {
    padding: 8px 16px;
    background-color: #007bff; /* Adjust button color */
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  #feedbacktable th{
    background-color: #d4e6f3;
    color: #031b34;
  }
  
  