/* orderForm.css */

.order-form {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.73); /* Semi-transparent white background */
  margin-top: 50px;
  backdrop-filter: blur(8px); /* Apply blur effect */
}

.order-form h2 {
  text-align: center;
  color: #007bff;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-label1 {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
}

.form-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #0056b3;
}

.orderbtn{
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}