.add-discount {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(243, 247, 255, 0.8);
 
  }
  
  .add-discount form {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  
  .add-discount label {
    margin-bottom: 20px;
    margin-top: 10px;
    
  }
  .error {
    color: red;
    font-size: 0.8em;


  .add-discount input[type="text"] {
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .add-discount input[type="submit"] {
    padding: 0px 0px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-discount input[type="submit"]:hover {
    background-color: #0056b3;
  }
  button a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
   
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button a:hover {
    background-color: #0056b3;
  }
  
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  